<html>
  <head>
    <script type="text/javascript" src="yaml.min.0.3.0.js"></script>
    <script src="https://unpkg.com/petite-vue"></script>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />

    <script type="module">
      function onlyUnique(value, index, array) {
        return array.indexOf(value) === index;
      }

      function map(allaReceptenRaw) {
        function mapText(ingrediensText) {
          if (ingrediensText.indexOf(":") > 0) {
            return {
              qty: ingrediensText.split(":")[0],
              text: ingrediensText.split(":")[1],
            };
          } else {
            return {
              text: ingrediensText,
            };
          }
        }

        return allaReceptenRaw.map((recept) => {
          return {
            ...recept,
            ingredienser: recept.ingredienser.map((ingrediensText) => {
              return mapText(ingrediensText);
            }),
          };
        });
      }

      let allaRecepten = map(YAML.load("data.yml"));

      const urlParams = new URLSearchParams(window.location.search);
      const q = urlParams.get("q") ?? "";
      const r = urlParams.get("r") ?? "";

      const page = r ? "article" : "list";
      const titleSuffix = `${r}${q}`.length > 0 ? ` - ${r}${q}` : "";
      const title = `Tidéns fantastiska familjereceptssamlingsportal${titleSuffix}`;
      PetiteVue.createApp({
        page: page,
        allaRecepten: allaRecepten,
        allaTaggar: allaRecepten
          .flatMap((recept) => recept.tags)
          .filter(onlyUnique)
          .sort(),
        filter: q,
        recept: allaRecepten.filter((recept) => recept.name === r)[0],
        title: title,
        get receptenFiltered() {
          if (this.filter) {
            return allaRecepten.filter(
              (r) =>
                JSON.stringify(r)
                  .toUpperCase()
                  .indexOf(this.filter.toUpperCase()) !== -1
            );
          } else {
            return allaRecepten;
          }
        },
      }).mount();
    </script>

    <title>{{title}}</title>
  </head>
  <!-------------------------------------------------------------------->
  <!-------------------------------------------------------------------->
  <!-------------------------------------------------------------------->
  <!-------------------------------------------------------------------->
  <!-------------------------------------------------------------------->

  <body>
    <header>
      <a href="?q"><h1>Tidéns fantastiska familjereceptssamlingsportal</h1></a>

      <input id="sök" type="text" v-model="filter" placeholder="Sök" />
      <div class="navTaggarDiv">
        <a class="navTag" :href="`?q=${tag}`" v-for="tag in allaTaggar"
          >#{{tag}}</a
        >
      </div>
    </header>
    <main>
      <div class="wrapper">
        <!------------------------------SÖKSIDAN------------------------------>
        <!-------------------------------------------------------------------->
        <div class="receptList" v-if="page === 'list'">
          <div v-for="recept in receptenFiltered" class="receptCard card">
            <a :href="`?r=${recept.name}`"
              ><img class="receptCardImage" :src="recept.bild" alt="Receptbild"
            /></a>
            <div class="cardContentUnderImage">
              <a :href="`?r=${recept.name}`"><h2>{{recept.name}}</h2></a>
              <div class="cardTags">
                <a
                  class="cardTag"
                  :href="`?q=${tag}`"
                  v-for="tag in recept.tags"
                  >#{{tag}}</a
                >
              </div>

              <!-- NOTE that receptCardInstruction is only visible when printing! -->
              <div class="receptCardInstruction">
                <ul>
                  <li v-for="ingrediens in recept.ingredienser">
                    {{ingrediens}}
                  </li>
                </ul>

                <div v-for="(instruktion, index) in recept.instruktioner">
                  {{index+3}} <input type="checkbox" /> {{instruktion}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-------------------------------------------------------------------->

        <!----------------------------RECEPTSIDAN----------------------------->
        <!-------------------------------------------------------------------->
        <div class="article card" v-if="page === 'article'">
          <img class="receptPageImage" :src="recept.bild" alt="Receptbild" />
          <div class="receptPageBelowImage">
            <h2>{{recept.name}}</h2>
            <a class="cardTag" :href="`?q=${tag}`" v-for="tag in recept.tags"
              >#{{tag}}</a
            >

            <div class="ingrediens" v-for="ingrediens in recept.ingredienser">
              <span>
                <label class="container">
                  <input type="checkbox" />
                  <span class="checkmark"></span>
                </label>

                {{ingrediens.qty}} </span
              >{{ingrediens.text}}
            </div>

            <hr />

            <div
              class="instruktion"
              v-for="(instruktion, index) in recept.instruktioner"
            >
              <span>
                <label class="container">
                  <input type="checkbox" />
                  <span class="checkmark"></span>
                </label>
                {{index+1}}
              </span>
              {{instruktion}}
            </div>
          </div>
        </div>
        <!-------------------------------------------------------------------->
      </div>
    </main>
  </body>
</html>
