* {
  box-sizing: border-box;
  margin: 0;
}

h2 {
  margin-bottom: 0;
}

header {
  /*background-image: url('https://www.torebrings.se/bilder/kategori/godissnacksbars-1400.webp');
    height: 200px;*/
  background-color: violet;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  height: 400px;
  gap: 2rem;

  h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 70px;
  }
}

a:link {
  text-decoration: none;
  color: black;
}

.navTaggarDiv {
  display: flex;
  gap: 1rem;
  /* background-color:aqua; */
}

.navTag {
  background-color: blue;
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 1rem;
}

main {
  padding: 3rem;
}

.receptList {
  /* background-color: firebrick; */
  gap: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1200px) {
    .receptList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1000px) {
    .receptList {
        grid-template-columns: 1fr 1fr;
    }
}

.receptCard {
  border-radius: 10px;
  /* background-color: salmon;  */
  border: 1px solid gray;
  box-shadow: 2px 2px 15px gray;

  display: flex;
  flex-direction: column;
}

.receptCardImage {
  width: 100%;
  max-height: 110px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  border-bottom: 1px solid gray;
}

.cardContentUnderImage {
  padding: 1rem;
}

.cardTags {
    display: flex;
    gap: 0.5rem;
}
.cardTag {
  font-weight: 100;
  font-size: x-small;
}

.receptCardInstruction {
    display: none;
}

.receptPageImage {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}


@media print {
    /* All your print styles go here */
    header,
    footer,
    nav,
    .receptPageImage,
    .receptCardImage {
      display: none !important;
    }

    .receptList {
        display: unset;
    }
    .receptCard {
      clear: both;
      page-break-after: always;
      box-shadow: none;
      border: none;
    }
    .receptCardInstruction {
        display: block;
    }

    ul {
        margin-bottom: 1rem;
    }
  }
  